spring:
  application:
    name: fountation-authorization-service
  config:
    import: "optional:classpath:fountation-config.yaml"
  r2dbc:
    url: r2dbc:postgresql://XXXX:XXXX/fountation_authorization_db?currentSchema=authorization
    username: XXXX
    password: XXXX
    pool:
      initial-size: 10
      max-size: 20
      max-create-connection-time: 5s
