server:
  port: 0
  error:
    include-binding-errors: always
    include-message: always
spring:
  application:
    name: fountation-authorization-service
  main:
    web-application-type: reactive
  r2dbc:
    password: XXXXXXXXXXXXXXXXXXXXXXXX
    url: r2dbc:postgresql://XXXXXXXXXXXXXXXXXXXXXXXX:XXXXXXXXXXXXXXXXXXXXXXXX/XXXXXXXXXXXXXXXXXXXXXXXX
    username: XXXXXXXXXXXXXXXXXXXXXXXX
  security:
    oauth2:
      client:
        provider:
          auth0:
            authorization-uri: https://XXXXXXXXXXXXXXXXXXXXXXXX/authorize?audience=https://XXXXXXXXXXXXXXXXXXXXXXXX/
            issuer-uri: https://XXXXXXXXXXXXXXXXXXXXXXXX/
            jwk-set-uri: https://XXXXXXXXXXXXXXXXXXXXXXXX/
            token-uri: https://XXXXXXXXXXXXXXXXXXXXXXXX
            user-info-uri: https://XXXXXXXXXXXXXXXXXXXXXXXX
        registration:
          auth0:
            authorization-grant-type: authorization_code
            client-id: XXXXXXXXXXXXXXXXXXXXXXXX
            client-name: Auth0
            client-secret: XXXXXXXXXXXXXXXXXXXXXXXX
            provider: auth0
            redirect-uri: http://XXXXXXXXXXXXXXXXXXXXXXXX
            scope: openid,profile,email
          internal-service:
            authorization-grant-type: client_credentials
            client-id: XXXXXXXXXXXXXXXXXXXXXXXX
            client-name: XXXXXXXXXXXXXXXXXXXXXXXX
            client-secret: XXXXXXXXXXXXXXXXXXXXXXXX
            provider: auth0
            scope: internal:service
      resourceserver:
        jwt:
          audiences:
            - https://XXXXXXXXXXXXXXXXXXXXXXXX
            - https://XXXXXXXXXXXXXXXXXXXXXXXX/
          issuer-uri: https://XXXXXXXXXXXXXXXXXXXXXXXX/
          jwk-set-uri: https://XXXXXXXXXXXXXXXXXXXXXXXX
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://XXXXXXXXXXXXXXXXXXXXXXXX}
  instance:
    preferIpAddress: true
logging:
    level:
        org:
            springframework:
                security: trace